.scroll-pane .scroll-bar:horizontal
{
    -fx-background-color: transparent;
    -fx-background: transparent;
    -fx-border-color: transparent;
}

.scroll-pane .scroll-bar:horizontal .thumb
{
    -fx-background-color: transparent;
}

.button {
    -fx-background-color: transparent;
}

.button:hover{
    -fx-background-color: #f41165;
    -fx-font-family: Futura;
    -fx-text-fill:white;
    -fx-font-weight:bold;
}

#posterButton{
    -fx-opacity: 0;
}

#posterButton:hover{
    -fx-opacity: 0.5;
    -fx-background-color: #f41165;
    -fx-font-family: Futura;
    -fx-text-fill:white;
    -fx-font-weight:bold;
}