.scroll-pane .scroll-bar:horizontal
{
    -fx-background-color: transparent;
    -fx-background: transparent;
    -fx-border-color: transparent;
}

.scroll-pane .scroll-bar:horizontal .thumb
{
    -fx-background-color: transparent;
}
